*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:rgba(93, 109, 201, 0.432);
    padding:30px;
    margin:30px;
    height:100vh;
}

.bigCont{
    width:100%;
    height:auto;
    padding:30px;
}
#container{
    background-color: rgba(246, 248, 248, 0.925);
    width:80%;
    height:390px;
    padding:30px;
    
}
#optionContainer{
    padding-top:30px;
    display:grid;
    margin-bottom:10px;
}
.options{
    height:40px;
    font-size:13pt;
    margin-bottom:10px;
    border-radius: 5px;
}
.options:hover:not([disabled]){
   /* background-color: green; */
    background-color: rgba(93, 109, 201, 0.432);
}
.options:disabled{
    cursor:no-drop;
}
#nextBtn{
    height:40px;
    width:100px;
    padding:10px;
    font-size:13pt;
    margin-bottom: 10px;
    background-color:rgba(93, 109, 201, 0.432);
    cursor:pointer;
}
.hidden{
    display:none;
}
#startBtn{
    height:40px;
    width:100px;
    padding:10px;
    font-size:13pt;
    margin-bottom: 10px;
    background-color:rgba(93, 109, 201, 0.432);
    cursor:pointer;
}
.correct{
    background-color: green;
}
.wrong{
    background-color: red;
}